*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


} 

@font-face {
    font-family: "Antonio-Light";
    src: url('fonts/Antonio-Light.ttf') format('truetype')
}

@font-face {
    font-family: "Antonio-Regular";
    src: url('fonts/Antonio-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5 {
	font-family: "Antonio-Regular", Lato, sans-serif;
}

a, p, span {
	font-family: 'Lato', sans-serif;
}


html {
	font-size: 18px;
	letter-spacing: .5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*********************************
JUMBOTRON
*********************************/

.jumbotron {
	background-image: url("../assets/images/cover-photo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	display: flex;
}

.flexbox {
	display: flex;
	justify-content: center;
}

.jumbo-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading h1 {
	padding: 30px 0 0 0;
	font-size: 3rem;
	color: #fff;
	font-weight: bold;
}

.available a {
	border: 2px solid gold;
	padding: 15px 25px;
	border-radius: 100px;
	text-transform: uppercase;
	color: #fff;
	transition-property: padding, color, background-color;
	transition-duration: 750ms;
}

.available a:hover {
	background-color: gold;
	color: #252a30;
	padding: 15px 45px;
}

.learn-more {
	display: flex;
	flex-direction: column;
}

.learn-more a {
	color: gray;
	display: flex;
	flex-direction: column;
	transition-property: color;
	transition-duration: 750ms;
}

.learn-more a:hover {
	color: lightgray;
}

@media screen and (max-width: 992px) {
	.heading h1 {
	font-size: 2.5rem;
	}
}

@media screen and (max-width: 565px) {
	.heading h1 {
	font-size: 2rem;
	}

	.jumbotron {
		background-color: #15181b;
		background-image: none;
	}
}

/*********************************
SKILLS
*********************************/

.sub-header h2{
	text-align: center;
	font-size: 2.25rem;
}

.sub-header p {
	padding-bottom: 35px;
}

.about-me {
	padding: 70px 0 35px 0;
}

.skills h3 {
	text-align: center;
	font-size: 2.25rem;
	padding: 70px 0 35px;
}

.front-end {
	font-size: 1.5rem;
	padding-bottom: 25px;
	text-align: center;
}

.skills p {
	padding-bottom: 70px;
	text-align: center;
}


/*********************************
MY PROJECTS
*********************************/

.work {
	background-color: #f3f3f3;
}

.my-projects {
	padding: 70px 0;
}

.my-projects h2 {
	padding-bottom: 70px;
}

.my-projects p {
	text-align: center;
	padding: 5px;
}

.skills-used {
	color: #959595;
}

.project {
	padding: 30px 0;
	background-color: #fff;
	margin-bottom: 2%;
}

.text-content,
.image-content {
	padding: 10px;
}

.image-content img {
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.col-md-4 {
		margin-right: 2%;
		max-width: 31.33333%;
	}
}

@media screen and (max-width: 767px) {
	.project {
		margin-bottom: 10%;
	}
}

@media screen and (max-width: 565px) {
	.project {
		margin: 0 15px 10% 15px;
	}
}

/*********************************
FUTURE WORK
*********************************/

.future-work {
	background-color: gold;
	height: 400px;
	display: flex;
}

.future-projects {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.work-text {

	text-align: center;
	font-size: 1.25rem;
}

.get-started {
	text-align: center;
}

button {
	border: 2px solid #252a30;
	padding: 15px 25px;
	border-radius: 100px;
	text-transform: uppercase;
	color: #252a30;
	background-color: gold;
	transition-property: padding, color, background-color;
	transition-duration: 750ms;
}

button:hover {
	background-color: #252a30;
	color: gold;
	padding: 15px 45px;
}

/*********************************
MODAL
*********************************/

.modal {
	padding-top: 70px;
	color: lightgray;
}

.modal-content {
	border: none;
}

.fade,
.modal-content,
.form-control {
	background-color: #252a30;
}

.close {
	color: lightgray;
}

.close:hover {
	color: white;
}

.modal-body h3 {
	font-size: 1.5rem;
}

input {
	padding: .5rem;
}

.tell-me label,
.tell-me input {
	height: 150px;
	padding: 0;
}

.modal-footer {
	width: 100%;
}

.modal-footer button {
	background-color: #252a30;
	color: white;
	padding: 15px 25px;
	border: 2px solid gold;
	text-transform: uppercase;
	border-radius: 100px;
	transition-property: padding, color, background-color;
	transition-duration: 750ms;
}

.modal-footer button:hover {
	background-color: gold;
	color: #252a30;
	padding: 15px 45px;
}


/*********************************
FOOTER
*********************************/

footer {
	color: #fff;
	background-color: #252a30;
	height: 300px;
	text-align: center;
}

.footer-logo {
	padding: 60px 0 30px 0;
}




