* {
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*********************************
JUMBOTRON
*********************************/

.jumbotron {
	background-image: url("../assets/images/cover-photo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	display: flex;
}

.flexbox {
	display: flex;
	justify-content: center;
}

.jumbo-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading h1 {
	padding: 30px 0 0 0;
	font-size: 3rem;
	color: #fff;
	font-weight: bold;
}

.available a {
	border: 2px solid gold;
	padding: 15px 25px;
	border-radius: 100px;
	text-transform: uppercase;
	color: #fff;
	transition-property: padding, color, background-color;
	transition-duration: 750ms;
}

.available a:hover {
	background-color: gold;
	color: #252a30;
	padding: 15px 45px;
}

.learn-more {
	display: flex;
	flex-direction: column;
}

.learn-more a {
	color: gray;
	display: flex;
	flex-direction: column;
	transition-property: color;
	transition-duration: 750ms;
}

.learn-more a:hover {
	color: lightgray;
}

@media screen and (max-width: 992px) {
	.heading h1 {
	font-size: 2.5rem;
	}
}

@media screen and (max-width: 565px) {
	.heading h1 {
	font-size: 2rem;
	}

	.jumbotron {
		background-color: #15181b;
		background-image: none;
	}
}

/*********************************
SKILLS
*********************************/

.my-skills {
	padding: 60px 0;
}

.sub-header {
	text-align: center;
	font-size: 2.25rem;
}

.skills {
	display: flex;
	flex-direction: row;
	padding: 30px 0;
}

.skills-header {
	padding: 20px 0;
	font-size: 1.5rem;
}

.html,.css,.javascript,.jquery {
	padding: 10px; 
}

@media screen and (max-width: 768px) {
	.skills {
		flex-direction: column;
	}
}

/*********************************
MY PROJECTS
*********************************/

.work {
	background-color: lightgray;
}

.my-projects {
	padding: 60px 0;
}

.project {
	padding: 30px 0;
}

.text-content,
.image-content {
	padding: 10px;
}

/*********************************
FUTURE WORK
*********************************/

.future-work {
	background-color: gold;
	height: 400px;
	display: flex;
}

.future-projects {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.work-text {

	text-align: center;
	font-size: 1.25rem;
}

.get-started {
	text-align: center;
}

.get-started a {
	border: 2px solid #252a30;
	padding: 15px 25px;
	border-radius: 100px;
	text-transform: uppercase;
	color: #252a30;
	transition-property: padding, color, background-color;
	transition-duration: 750ms;
}

.get-started a:hover {
	background-color: #252a30;
	color: gold;
	padding: 15px 45px;
}

/*********************************
FOOTER
*********************************/

footer {
	color: #fff;
	background-color: #252a30;
	height: 300px;
	text-align: center;
}

.footer-logo {
	padding: 60px 0 30px 0;
}




